@model Account
@{
    Layout = null;
}

<div>
    <h3>Your Bills</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Bills[0].PayeeID)</th>
        </tr>
    </table>
</div>


