@model BillScheduleViewModel
@{
    ViewData["Title"] = "BillSchedule";
}

<div>
    <h3>Your Bills</h3>
    @foreach (var bill in Model.bills)
    {

    }
    <table class="table">
        <tr>
        </tr>
    </table>
</div>


